html {
	background: rgb(25, 25, 32);
}

h1,
h2,
h3,
p,
li {
  color: aliceblue;
}

a {
	color: aliceblue;
	display: block;
}

h1 {
	font-size: 28px;
}

h2 {
	margin: 10px 0;
	font-size: 25px;
}

p {
	margin: 10px 0;
}

span {
	font-size: 14px;
	color: rgb(100, 96, 96);
}